.registration{
    margin: 14vh 10vw 5vh;
    display: flex;
    flex-direction: column;
}

.registration__title{
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--dark-blue);
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    text-align: center;
}

.registration__title__image{
    font-size: 8rem;
}

.registration__form{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.registration__form__field{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.registration__form__field > input, .registration__form__field > select {
    border: none;
    resize: none;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

.registration__form__select {
    font-size: 1.5rem;
    outline: none;
    line-height: 3.5rem;
}

.registration__form__select__arrow {
    display: none !important;
}

.registration__form__field > label {
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 1.5rem;
}

.registration__form__error {
    font-size: 1.2rem;
    color: var(--red);
}

.registration__form__field > label > span {
    font-weight: 400;
    font-size: 1.2rem;
}

.registration__form__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5vh;
}

.registration__form__clearButton, .registration__form__submitButton {
    color: var(--dark-blue);
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.registration__form__submitButton{
    color: var(--white);
    background-color: var(--dark-blue);
}

@media (min-width: 1025px) {
    .registration{
        margin: 14vh 35vw 5vh;
    }
    
  }