.menus{
    margin: 14vh 10vw 5vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.menus__title{
    color: var(--dark-blue);
    font-weight: 600;
    margin-bottom: 3vh;
}

.menus__filters{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--light-grey);
    padding: 0.8rem;
}

.menus__filters > select{
    padding: 0.2rem 1.5rem;
    border: none;
    background-color: var(--light-grey);
    border-radius: 16px;
    color: var(--dark-blue);
    font-size: 1.4rem;
}

.menus__datepicker{
    background: none;
    border: none;
    max-width: 33vw;
    font-weight: 500;
    color: var(--dark-blue);
}

.menus__menus{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menus__addButton{
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    align-self: center;
    margin-top: 7vh;
}

.menus__addButton > svg {
    color: var(--white);
    font-size: 3rem;
}